extends layout

block content
  h1= title
  p Welcome to #{title}
  h2 second title
  iframe(id='#{video.id}', width='#{video.width}', height='#{video.height}', src='#{video.src}')
  #overlay
    .content
        .message-container
            p I'm a message!
